pkgbase = dartpdf-bin
	pkgdesc = Edit, annotate, sign, and fill in PDFs - a private, local PDF editor (prebuilt binary)
	pkgver = 3.0.0
	pkgrel = 1
	url = https://dart-pdf.com
	arch = x86_64
	license = Apache-2.0
	depends = gtk3
	depends = libsecret
	optdepends = org.freedesktop.secrets: store digital-signing identities in a keyring
	provides = dartpdf
	conflicts = dartpdf
	options = !strip
	source = dartpdf-3.0.0.tar.gz::https://github.com/ben-milanko/dart-pdf/releases/download/app-v3.0.0/dartpdf-linux-x64.tar.gz
	source = dev.milanko.dartpdf.desktop::https://raw.githubusercontent.com/ben-milanko/dart-pdf/01326c2da8526b131d4e5bd7a59e4a89ae97ef87/app/linux/dev.milanko.dartpdf.desktop
	source = dev.milanko.dartpdf.metainfo.xml::https://raw.githubusercontent.com/ben-milanko/dart-pdf/01326c2da8526b131d4e5bd7a59e4a89ae97ef87/app/linux/dev.milanko.dartpdf.metainfo.xml
	source = dartpdf-64.png::https://raw.githubusercontent.com/ben-milanko/dart-pdf/01326c2da8526b131d4e5bd7a59e4a89ae97ef87/app/linux/icons/hicolor/64x64/apps/dev.milanko.dartpdf.png
	source = dartpdf-128.png::https://raw.githubusercontent.com/ben-milanko/dart-pdf/01326c2da8526b131d4e5bd7a59e4a89ae97ef87/app/linux/icons/hicolor/128x128/apps/dev.milanko.dartpdf.png
	source = dartpdf-256.png::https://raw.githubusercontent.com/ben-milanko/dart-pdf/01326c2da8526b131d4e5bd7a59e4a89ae97ef87/app/linux/icons/hicolor/256x256/apps/dev.milanko.dartpdf.png
	source = dartpdf-512.png::https://raw.githubusercontent.com/ben-milanko/dart-pdf/01326c2da8526b131d4e5bd7a59e4a89ae97ef87/app/linux/icons/hicolor/512x512/apps/dev.milanko.dartpdf.png
	source = LICENSE::https://raw.githubusercontent.com/ben-milanko/dart-pdf/01326c2da8526b131d4e5bd7a59e4a89ae97ef87/LICENSE
	sha256sums = c626d2cb3f94f386f0294e60736b63642502ccfa8871a46004660b214c447987
	sha256sums = 4e3f7941b0ad93c4537cc7fd5af9f0ce2d55c33f937cd0f7c9c811b1b3bb6d06
	sha256sums = bcb5947288d8c5f2664b54231afb1a4f2b256d7a381d36e998198da766fc7370
	sha256sums = 0484364f99e862d79aa1655b52e88626e8855fc93de7eceb170779c4f6f8ae24
	sha256sums = 3f62f725e02acfb133d14a3fef2299a7005088bb6a400a77e648e3dc3b6bc62b
	sha256sums = a8ccca1310303302c46c681516d5349e2152993a954f75fe9473ff10c1dc1728
	sha256sums = 23206ced87d306164df39a451b97d926aa8f64aeb1ad960fae9913dec9c5b938
	sha256sums = cfc7749b96f63bd31c3c42b5c471bf756814053e847c10f3eb003417bc523d30

pkgname = dartpdf-bin
