pkgbase = dartpdf-bin
	pkgdesc = Edit, annotate, sign, and fill in PDFs - a private, local PDF editor (prebuilt binary)
	pkgver = 3.6.1
	pkgrel = 1
	url = https://dart-pdf.com
	arch = x86_64
	license = Apache-2.0
	depends = gtk3
	depends = libsecret
	optdepends = org.freedesktop.secrets: store digital-signing identities in a keyring
	provides = dartpdf
	conflicts = dartpdf
	options = !strip
	source = dartpdf-3.6.1.tar.gz::https://github.com/ben-milanko/dart-pdf/releases/download/app-v3.6.1/dartpdf-linux-x64.tar.gz
	source = LICENSE::https://raw.githubusercontent.com/ben-milanko/dart-pdf/app-v3.6.1/LICENSE
	sha256sums = 2bfdc929cceb962ab9d819567f2523dd32db45ed5911e73c9f3ccf8ea0707e4f
	sha256sums = cfc7749b96f63bd31c3c42b5c471bf756814053e847c10f3eb003417bc523d30

pkgname = dartpdf-bin
